@model IEnumerable<Dominio.EntidadesNegocios.Planta>

@{
    ViewData["Title"] = "ListarporNombre";
}

<h1>@ViewBag.Msj</h1>

<form method="post">
    <label for="n">Nombre:</label>
    <input required type="text" name="n" value="" />
    <br />
    <input type="submit" name="Buscar" value="Buscar" />
</form>

@if(Model !=null){
<table class="table"  border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreVulgar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCientifico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContinenteOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreVulgar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCientifico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContinenteOrigen)
            </td>
            <td class="col-sm-10">
                <img class="img-thumbnail" src="~/imagenes/fotos/@item.Foto" />
            </td>
            <td class="btn btn-outline-primary">
                @Html.ActionLink("VER FICHA", "VerFicha", new
                {
                    f = @item.FichaPlanta.FrecuenciaRiego,
                    t = @item.FichaPlanta.TipoIluminacion,
                    ta = @item.FichaPlanta.Temperatura
                })
            </td>
        </tr>
        }
    </tbody>
</table>
}

